.container-popup-first,.container-popup-two {
  position: absolute;
  top: 150px;
  left: 480px;
  width: 960px;
  border: 6px solid #0078ff;
  border-radius: 6px;
}
.container-popup-two{
  display: none;
}
.container-popup-two .title{
  color: #0078ff;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.container-popup-first .nav {
  background-color: #0078ff;
}
.container-popup-first .nav li {
  padding: 20px 55px;
  background-color: #0078ff;
  float: left;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.container-popup-first .nav .first {
  color:  #0078ff;
  border-radius: 4px 4px 0px 0px;
  background-color: #ffffff;
}
.container-popup-first .content-popup,
.container-popup-two .content-popup
{
  padding: 15px 50px 30px 55px;
}
.container-popup-first .button-popup {
  margin-bottom: 10px;
}
.container-popup-first .button-popup span.btn {
  display: inline-block;
  width: 96px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  border-radius: 4px;
  margin-right: 8px;
  background-color: #777777;
  text-align: center;
  font-size: 16px;
}
.container-popup-first .button-popup span.first{
  background-color: #0078ff;
}
.container-popup-first .content-popup table,
.container-popup-two table
{
  font-size: 15px;
  color: #6c6c6c;
  border-spacing: 0px 10px;
  border-collapse: separate;
}
.container-popup-first .content-popup table td,
.container-popup-two table td
{
  white-space:nowrap;
  padding-right: 15px;
}
.container-popup-first .content-popup table td input[type=checkbox],
.container-popup-two table td input[type=checkbox]
{
  width: 15px;
  height:15px;
  vertical-align: middle;
  display: inline-block;
}
.container-popup-first .pagination,
.container-popup-two .pagination
{
  margin-bottom: 20px;
  margin-left: 55px;
  float: left;
}
.container-popup-first .pagination li,
.container-popup-two .pagination li
{
  float: left;
}
.container-popup-first .pagination li a,
.container-popup-two .pagination li a
{
  display: block;
  width: 32px;
  height:32px;
  color: #6c6c6c;
  text-align: center;
  line-height: 32px;
  margin-right: 8px;
  border: 1px solid #E2E2E2;
  text-decoration: none;
}
.container-popup-first .pagination li.first a,
.container-popup-two .pagination li.first a
{
  color: #fff;
  background-color: #0078ff;
}
.container-popup-first .confirm,
.container-popup-two .confirm
{
  float: right;
  margin-right: 50px;
}
.container-popup-first .confirm .btn,
.container-popup-two .confirm .btn
{
  padding: 10px 20px;
  background-color: #DCDCE4;
  color: #74757A;
  border-radius: 4px;
  font-size: 14px;
  display: inline-block;
}
.container-popup-first .confirm .first,
.container-popup-two .confirm .first
{
  background-color: #0078ff;
  color: #fff;
}